@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Mona Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: 100%; 
}

.left {
    width: 50%;
    background: #F5F6F8;
    padding: 60px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right {
    height: 100vh;
    overflow: hidden;
    width: 50%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;    
    position: fixed;
    top: 0;
    right: 0;
}

.left img {
    width: 100px;
    margin-bottom: 20px;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #6A4E25;
}

.welcomeText {
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 500;
}

.subtitle {
    margin-bottom: 40px;
    color: #666;
}

form {
    display: flex;
    flex-direction: column;
}


.input {
  padding: 14px 10px;
  padding: 14px 0px 14px 20px;
  margin-bottom: 20px;
  border-radius: 25px;
  border: none;  
  background-color: #ECECEC;
}

.input:focus {
    outline: 1.5px solid #896D43;
    background-color: white;
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;
}

.form-options input {
    margin-right: 8px;
}

button {
    padding: 14px;
    border: none;
    border-radius: 25px;
    background-color: #7B5D2C;
    color: white;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 20px;
}

.divider {
    text-align: center;
    margin: 20px 0;
    color: #aaa;
    font-size: 18px;    
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.divideri {
    width: 40%;
    background-color: #D8D8D8;
    height: 1px;
}

.socialButtons {    
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.socialButtons button {
    width: 50%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 25px;
    border: 1px solid #ccc;
    background-color: transparent;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.haveAccount {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.loginButton {
    color: #7B5D2C;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}


.imageGrid {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-gap: 10px;
    margin-bottom: 30px;
}

.imageGrid img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.right h2 {
    font-family: "Mona Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

.right p {
    color: #555;
    text-align: center;
    width: 500px;
}

@media (max-width: 768px) {

    .left,
    .right {
        width: 100%;
    }

    .container {
        flex-direction: column;
    }

    .image-grid {
        grid-template-columns: repeat(2, 80px);
    }

    .image-grid img {
        width: 80px;
        height: 80px;
    }
}